[Desktop Entry]
Type=Application
Name=Pedal Trinity
GenericName=Guitar Effects
GenericName[it]=Effetti per chitarra
Comment=Guitar pedalboard with 220 emulated stompboxes
Comment[it]=Pedaliera per chitarra con 220 pedali emulati
Exec=pedal-trinity
Icon=pedal-trinity
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=guitar;overdrive;distortion;delay;reverb;chorus;equalizer;amp;pedal;pedalboard;chitarra;pedaliera;
StartupWMClass=Pedal Trinity
